body{
    background-color: azure;
}
h1{
    text-align: center;
}
footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: red;
}
#link{
    text-align: center;
    display: flex;
    justify-content: space-around;
}
#home-h1{
    font-size: 100px;
    color: red;
}
.abt{
    color: green;
    font-family: sans-serif;
}
